.menu-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px; /* Adjust spacing between menu items */
  border-bottom: 1px solid #ccc; /* Add a border between menu items */
  padding-bottom: 8px; /* Optional: Add some padding below the line for spacing */
}

.menu-item-details {
  display: flex;
  align-items: center;
}

.menu-item-number {
  margin-right: 8px; /* Adjust spacing between index and content */
}

.menu-item-content {
  flex: 1;
  /* Adjust styling for menu item details */
}

.menu-item-name {
  font-weight: bold; /* Optionally make the name bold */
}

.menu-item-description {
  color: #555; /* Optionally change the color of the description */
}

.divider {
  border-top: 1px solid #ccc; /* Adjust the color of the divider */
  margin: 8px 0; /* Adjust spacing above and below the divider */
  width: 100%;
}

.category-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price-header {
  margin-left: 10px; /* Adjust as needed for spacing */
}

.menu-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.menu-item-details {
  flex: 1; /* Takes up remaining space */
}

.menu-item-name {
  font-weight: bold; /* Optionally make the name bold */
}

.menu-item-description {
  color: #555; /* Optionally change the color of the description */
}

.menu-item-price {
  margin-left: 10px; /* Adjust as needed for spacing */
}

.item-indicator {
  font-size: 12px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 5px;
  border-radius: 5px;
  display: inline-block;

  &.new {
    background-color: #4caf50;
    color: #fff;
  }

  &.spicy {
    background-color: #ff5722;
    color: #fff;
  }

  &.vegan {
    background-color: #2196f3;
    color: #fff;
  }

  &.vegetarian {
    background-color: #ff9800;
    color: #fff;
  }

  &.popular {
    background-color: #f44336;
    color: #fff;
  }

  &.gluten-free {
    background-color: #9c27b0;
    color: #fff;
  }
}